<h1>This webpage is created using Ansible</h1>
<h3>hostaname: {{ ansible_hostname }}</h3>
<h4> Git branch test: V1 </h4>
<h4> variable test: {{ variable_test }}</h4>
<h4> Jenkins integration test: V1</h4>