<h1>This webpage is created using Ansible</h1>
<h3>hostname: {{ ansible_hostname }}</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacus mi, hendrerit eu dictum at, efficitur non lorem. Proin ultrices venenatis mollis. Morbi vitae purus ligula. Curabitur viverra viverra dolor nec egestas. Sed vitae est est. Sed facilisis ut enim in mattis. Praesent ipsum nunc, maximus id augue nec, iaculis aliquam mi. Nulla faucibus dui eget turpis finibus, in viverra enim luctus. Integer a nisi ac nulla ultricies commodo elementum nec purus. Etiam dolor elit, vestibulum et nulla id, fringilla viverra eros. Nullam malesuada diam tincidunt magna pretium imperdiet. Pellentesque nulla nisl, volutpat nec mollis in, semper nec sem. Sed eget erat vestibulum, blandit mauris non, dignissim leo.
<p>


<?php
error_reporting(E_ALL);
ini_set('display_errors', 'On');


echo "Current PHP version:" . phpversion()." <br>";
echo "--> <font color=\"green\"><b> php is working</font> </b><br><br>";
echo"Test mysqli is installed and working...<br>";
if (!function_exists('mysqli_init') && !extension_loaded('mysqli')) {
    echo "<font color=\"red\">--> mysqli not supported!!!</font><br><br>";
} else {
    echo "--> <font color=\"green\"><b>mysqli supported </b></font><br><br>";
}
echo "Trying to make a connection to database... (default: localhost | name: root | no password)<br>";
$servername = "localhost";
$username = "root";
// Create connection
$conn = new mysqli($servername, $username);
// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
}
echo "<font color=\"green\">--><b>  Connected successfully</b><br></font>";
phpinfo();
